# general
.project

# hqm
*.old?
*.orig

# minecraft
/asm/
/bin/
/blueprints/
/compendiumunlocks/
/compendiumUpdates/
/crash-reports/
/dumps/
/imcScripts/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/src/
/zipped/
backup/
/TCNodeTracker/
/minetweaker.log
/options.txt
/servers.dat
/usercache.json
/usernamecache.json
*.log

# Config
/config/AppliedEnergistics2/recipes/generated/
/config/AppliedEnergistics2/recipes/README.html
/config/AppliedEnergistics2/recipes/items.csv
/config/draconicevolution/resources/
/config/MapWriterBlockColours.txt
/config/MapWriterBlockColourOverrides.txt
/config/NEI/
/config/MapWriter.cfg
/config/HardcoreEnderExpansion.clientsave.cfg
/config/INpureProjects/logs/
/config/cofh/core/friends.cfg
/config/tabbychat/dictionary.txt

/config/contenttweaker/ContentTweaker-Resourcepack/
/config/contenttweaker/resourcepack/

config/tabbychat/

# Botania
BotaniaVars.dat

# CustomNPCs
*.dat_old
/customnpcs/playerdata/
/customnpcs/assets/customnpcs/textures/cache/

