# general
.project

# hqm
*.old?
*.orig

# minecraft
/asm/
/bin/
/blueprints/
/compendiumunlocks/
/compendiumUpdates/
/crash-reports/
/dumps/
/imcScripts/
/logs/
/mods/
/resourcepacks/
/saves/
/server-resource-packs/
/src/
/zipped/
/minetweaker.log
/options.txt
/servers.dat
/usercache.json
/usernamecache.json
*.log

# Config
/config/MapWriterBlockColours.txt
/config/MapWriterBlockColourOverrides.txt
/config/NEI/
/config/MapWriter.cfg
/config/HardcoreEnderExpansion.clientsave.cfg
/config/INpureProjects/logs/
/config/cofh/core/friends.cfg

# CustomNPCs
*.dat_old
/customnpcs/playerdata/
/customnpcs/assets/customnpcs/textures/cache/